.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/notebooks/canvec_190514_89905
/notebooks/DEM.tif
/notebooks/canvec_190514_89905
/notebooks/lcv_minnedosa_2004_2006_shp